################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2020 Project - Battleships/.vs/2020 Project - Battleships/v16/Server/sqlite3
/2020 Project - Battleships/obj
/2020 Project - Battleships/.vs/2020 Project - Battleships
/2020 Project - Battleships/bin/Debug/netcoreapp3.0
